@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.badge {
  width: 21px;
  height: 21px;
  background-color: tomato;
  border-radius: 10.5px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  margin-left: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}
