.Chats__channel__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Chats__divdiv {
  display: flex;
  align-items: center;
}
.chats__bottom_divdiv {
  margin: 10px;
}
.chats__bottom_divdiv h4 {
  padding: 5px 0px;
}
.chats__bottom_divdiv h6 {
  padding: 5px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.chats_divdiv2 {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chats_divdiv2 div {
  width: 21px;
  height: 21px;
  background-color: tomato;
  border-radius: 10.5px;
  color: white;
  margin: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.chats_divdiv2 span {
  margin-left: 7px;
}
