.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f8f9;
  padding: 20px 30px;
  box-sizing: border-box;
  border-top: 1px solid rgba(144, 144, 144, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav__link {
  color: #2b2d35;
}
