.screen__header {
  padding: 40px 12px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.screen_title {
  font-size: 25px;
  font-weight: 600;
}
.screen__icons span {
  padding: 0 8px;
}
